<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">{{ title }}</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="contact-us">{{ contactUs }}</a>
                </li>
                <li style="color: green; font-weight: bold" class="nav-item d-flex text-center align-items-center">
                    <ng-template [ngIf]="clickCount >= 200">
                        <p class="fs-6" [ngStyle]="{
                'background-color': clickCount >= 200 ? 'lightgreen' : 'none'
              }">
                            You are VIP
                        </p>
                    </ng-template>
                </li>
            </ul>

            <label class="" for=""> You have donated:</label>

            <div class="m-2">{{ clickCount }}</div>

            <button class="btn btn-outline-success" (click)="countClick()">
        Donate 10€
      </button>

            <!-- <div>
                <h1 class="vip mx-3" *ngIf="clickCount >= 50">VIP</h1>
            </div>

            <div>
                <button class="btn btn-outline-success" (click)="countClick()">
          Donate 10€
        </button>

                <input type="test " value="{{ clickCount }}€ " />
            </div> -->
        </div>
    </div>
</nav>
