<div class="backCol">
    <div class="container marketing animate__animated animate__bounceInLeft" style="margin-top: 5vh">
        <div class="row down d-flex">
            <div class="col col-8 col-md-6 col-lg-3 d-flex justify-content-around" *ngFor="let val of cars">
                <div class="card" style="width: 18rem">
                    <img src="{{ val.image }}" class="card-img-top" alt="{{ val.marke }}" />
                    <div class="card-body" [style.background-color]="'rgb(5,58,114)'">
                        <h5 class="card-title">Marke: {{ val.marke }}</h5>
                        <h5 class="card-title">Model: {{ val.model }}</h5>
                        <h5 class="card-title">Petrol:{{ val.petrol }}</h5>
                        <h5 class="card-title">Year:{{ val.year }}</h5>
                        <a href="#" class="btn btn-primary">More Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 50px">
    <form [formGroup]="info" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="marke" class="form-label">Image:</label>
            <input value="" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="image" placeholder="must be a link: eg. : https://cdn.pixabay.com/photo/2017/03/27/14/56/auto-2179220_960_720.jpg"
            />
        </div>
        <div class="mb-3">
            <label for="marke" class="form-label">Marke:</label>
            <input type="text" class="input form-control" id="marke" formControlName="marke" />
        </div>
        <div class="mb-3">
            <label for="model" class="form-label">Model:</label>
            <input type="text" class="input form-control" id="model" formControlName="model" />
        </div>
        <div class="mb-3">
            <label for="petrol" class="form-label">Petrol:</label>
            <input type="text" class="input form-control" aria-describedby="petrol" formControlName="petrol" />
        </div>
        <div class="mb-3">
            <label for="year" class="form-label">Year</label>
            <input type="text" class="input form-control" formControlName="year" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
